<nav class="kite-menu">
   <h2 class="kite-logo">Reval admin</h2>
   <div class="kite-menu-trigger" id="hamburger">
     <span></span>
   </div>
   <div class="kite-search-trigger">
     <i class="fa fa-search"></i>
   </div>
 
   <div class="links-wrapper">
     <ul class="menu-links">
       <li>
         <a href="/equipment">Equipment</a>
       </li>
       <li>
         <a href="/users">Users</a>
       </li>
       <li>
         <a href="#3">News</a>
       </li>
       <li>
         <a href="#4">Contact</a>
       </li>
       <li>
         <a href="#5">About</a>
       </li>
     </ul>
   </div>
 </nav>;
 