<!DOCTYPE html>
<html lang="en">


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/revalStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">

<script>
    $(document).ready(function () {



        $('#menu').load('/menu', function () {
            $('.menu-tab').click(function () {
            $('.menu-hide').toggleClass('show');
            $('.menu-tab').toggleClass('active');
        });
        $('a').click(function () {
            $('.menu-hide').removeClass('show');
            $('.menu-tab').removeClass('active');
        });
        });



    });
</script>

<head>
    <meta charset="UTF-8">
    <title>RevalEquip User</title>
</head>

<body>
    <div id="menu"></div>



    <div class="widePanel" style="width:900px;">
        <H1>Virtual groups</H1>
        <select id="virtual_groups_list" size="10" style="width: 350px;" onclick="SelectItem()"></select>
        <button type="button" class="mlbutton" onclick="RemoveGroup()">Remove</button>
        <br>
        <div style="margin-top: 10px;">
            <label for="group_name">New group:</label>
            <input type="text" id="group_name">
            <button type="button" class="mlbutton" onclick="AddGroup()">Add</button>
            <button type="button" class="mlbutton" onclick="RenameGroup()">Rename</button>
        </div>

    </div>
    <div class="widePanel" style="margin-top: 10px;position: relative;height:450px;width:900px;">

        <label for="fname">Channel</label>
        <select name="channel" id="channel" style="width: 120px"></select>
        <br>

        <label for="ballasts" style="position:absolute;top:28px;left:8px">Ballasts</label>
        <select id="ballasts" size="20" style="position:absolute; top:58px; left:8px; width: 350px;"></select>

        <button type="button" style="position:absolute;top:200px;left:390px;width: 100px;" class="mlbutton"
            onclick="Add2roup()">Add →</button>
        <button type="button" style="position:absolute;top:250px;left:390px;width: 100px;" class="mlbutton"
            onclick="RemoveFromGroup()">← Remove</button>

        <label for="group_items" style="position:absolute;top:28px;left:520px">Group Items</label>
        <select id="group_items" size="20" style="position:absolute; top:58px; left:520px; width: 350px;"></select>

    </div>




</body>

</html>