
$margin1: 30px;
$margin2: 100px;
$tabelHeight: 34.653px;
$labelWidthSmall: 80px;
$labelWidthMedium: 120px;
$labelWidthLarge: 160px;
$rowSpacing: 28px;
$textBoxWidthSmall: 360px;
$textBoxWidthLarge: 555px;
$buttonHeight: 31.528px;
$ButtonWidth: 100px;
$ButtonSpacing: 10px;

$labelColumn2Left: $margin1+$textBoxWidthLarge+$margin1;

#file_input {
    position: absolute;
    top: $margin1+2px;
    left: $margin1;
    width: 360px;
    padding: 2.2px 3px 2.9px 3px;
    font-size: 12px;
}

.upload_button { 
    position: absolute;
    top: $margin1;
    left:$margin1+260px;
    width: $ButtonWidth;
}

#update_button{
    position: absolute;
    left:420px;
    top: $margin1;
    width: $ButtonWidth;
}

#new_button{
    position: absolute;
    left:420px+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
}

#delete_button{
    position: absolute;
    left:420px+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
}

#export_button{
    position: absolute;
    left:1200px - $ButtonWidth - $margin1;
    top: $margin1;
    width: $ButtonWidth;
}

#add_button{
    position: absolute;
    left:355px+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
    visibility: hidden;
}

#cancel_button{
    position: absolute;
    left:355px+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
    visibility: hidden;
}

#toast_pop_up {
    left: 420px;
    width: $ButtonWidth+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    position: absolute;
    background-color: gray;
    top: $margin1;
}

#eq_inventory_number_label{
    position: absolute;
    left:$margin1;
    top:$margin1+$buttonHeight+$margin1;
    width: $textBoxWidthLarge;
}

#eq_label_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1;
    width: $textBoxWidthLarge;
}

#eq_name_label{
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1 * 2 + $tabelHeight;
    width: $textBoxWidthLarge;
}

#eq_amount_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1 * 2 + $tabelHeight;
    width: $textBoxWidthLarge;
}

#eq_desc_label{
    position: absolute;
    left:$margin1;
    top:$margin1+$buttonHeight+$margin1 * 2.5 + $tabelHeight * 2;
    width: $textBoxWidthLarge;
}

#eq_outcome_label{
    position: absolute;
    left: $labelColumn2Left;
    top:$margin1+$buttonHeight+$margin1 * 2.5 + $tabelHeight * 2;
    width: $textBoxWidthLarge;
}

#eq_purchase_date_label{
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1 * 3.5 + $tabelHeight * 3;
    width: $textBoxWidthLarge;
}

#eq_purchase_price_label {
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1 * 3.5 + $tabelHeight * 3;
    width: $textBoxWidthLarge;
}

#eq_annual_cost_label {
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1 * 4 + $tabelHeight * 4;
    width: $textBoxWidthLarge;
}

#eq_annual_cost_budget_label {
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1 * 4 + $tabelHeight * 4;
    width: $textBoxWidthLarge;
}

#eq_base_location_label {
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1 * 5 + $tabelHeight * 5;
    width: $textBoxWidthLarge;
}

#eq_is_mobile_label {
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1 * 5 + $tabelHeight * 5;
    width: $textBoxWidthLarge;
}

#eq_owner_id_label {
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1 * 6 + $tabelHeight * 6;
    width: $textBoxWidthSmall;
}

#eq_co_owner_id_label {
    position: absolute;
    left:$margin1+$textBoxWidthSmall+$margin1;
    top: $margin1+$buttonHeight+$margin1 * 6 + $tabelHeight * 6;
    width: $textBoxWidthSmall;
}

#eq_supplier_id_label{
    position: absolute;
    left: $margin1+$textBoxWidthSmall+$margin1+$textBoxWidthSmall+$margin1;
    top: $margin1+$buttonHeight+$margin1 * 6 + $tabelHeight * 6;
    width: $textBoxWidthSmall;
}

#suggestions_owner {
    position: absolute;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1 * 6 + $tabelHeight * 7;
    width: $textBoxWidthSmall;
}

#suggestions_co_owner {
    position: absolute;
    left:$margin1+$textBoxWidthSmall+$margin1;
    top: $margin1+$buttonHeight+$margin1 * 6 + $tabelHeight * 7;
    width: $textBoxWidthSmall;
}

#suggestions_supplier {
    position: absolute;
    left: $margin1+$textBoxWidthSmall+$margin1+$textBoxWidthSmall+$margin1;
    top: $margin1+$buttonHeight+$margin1 * 6 + $tabelHeight * 7;
    width: $textBoxWidthSmall;
}

#eq_gallery {
    position: absolute;
    width: 1200px - $margin1*2;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1 * 7 + $tabelHeight * 7;
    overflow: hidden;
    border-radius: 3px;
    margin: auto;
}

.gallery {
    width: 600px;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
    //position: relative;
}

.img-w {
    width: 228px;
    height: 228px;
    float: left;
    position: relative;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 228px;
        height: 228px;
        position: absolute;
    }
}