
$margin1: 20px;
$margin2: 100px;
$labelWidth: 130px;
$rowSpacing: 28px;
$textBoxWidth: 420px;
$ButtonWidth: 100px;
$ButtonSpacing: 10px;

$textBoxColumn1Left: $margin1+$labelWidth;
$labelColumn2Left: $margin1+$labelWidth+$textBoxWidth+2*$margin1;
$textBoxColumn2Left: $margin1+$labelWidth+$textBoxWidth+2*$margin1+$labelWidth;

#eq_inventory_number_label{
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 1;
    width: $labelWidth;
}

#eq_inventory_number{
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 1;
    width: $textBoxWidth;
}

#eq_label_label{
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 1;
    width: $labelWidth;
}

#eq_label{
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 1;
    width: $textBoxWidth;
}

#eq_name_label{
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 2.5;
    width: $labelWidth;
}

#eq_name{
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 2.5;
    width: $textBoxWidth;
}

#eq_amount_label{
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 2.5;
    width: $labelWidth;
}

#eq_amount{
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 2.5;
    width: $textBoxWidth;
}

#eq_desc_label{
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 3.5;
    width: $labelWidth;
}

#eq_desc{
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 3.5;
    width: $textBoxWidth;
}

#eq_outcome_label{
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 3.5;
    width: $labelWidth;
}

#eq_outcome{
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 3.5;
    width: $textBoxWidth;
}

#eq_purchase_date_label{
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 5;
    width: $labelWidth;
}

#eq_purchase_date{
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 5;
    width: $textBoxWidth;
}

#eq_purchase_price_label {
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 5;
    width: $labelWidth;
}

#eq_purchase_price{
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 5;
    width: $textBoxWidth;
}

#eq_annual_cost_label {
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 6;
    width: $labelWidth;
}

#eq_annual_cost{
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 6;
    width: $textBoxWidth;
}

#eq_annual_cost_budget_label {
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 6;
    width: $labelWidth;
}

#eq_annual_cost_budget{
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 6;
    width: $textBoxWidth;
}

#eq_base_location_label {
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 7.5;
    width: $labelWidth;
}

#eq_base_location {
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 7.5;
    width: $textBoxWidth;
}

#eq_is_mobile_label {
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 7.5;
    width: $labelWidth;
}

#eq_is_mobile {
    position: absolute;
    left: $textBoxColumn2Left - 200px;
    top:$rowSpacing * 7.5;
    width: $textBoxWidth;
}

#eq_owner_id_label {
    position: absolute;
    left:$margin1;
    top:$rowSpacing * 8.5;
    width: $labelWidth;
}

#eq_owner_id {
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 8.5;
    width: $textBoxWidth;
}

#eq_co_owner_id_label {
    position: absolute;
    left: $labelColumn2Left;
    top:$rowSpacing * 8.5;
    width: $labelWidth;
}

#eq_co_owner_id {
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 8.5;
    width: $textBoxWidth;
}

#suggestions_owner {
    position: absolute;
    left: $textBoxColumn1Left;
    top:$rowSpacing * 9.5 - 9px;
    width: $textBoxWidth;
}

#suggestions_co_owner {
    position: absolute;
    left: $textBoxColumn2Left;
    top:$rowSpacing * 9.5 - 9px;
    width: $textBoxWidth;
}

#update{
    position: absolute;
    left:495px;
    top:$rowSpacing * 14;
    width: $ButtonWidth;
}

#new{
    position: absolute;
    left:495px;
    top:$rowSpacing * 14 + 32px + $ButtonSpacing;
    width: $ButtonWidth;
}
#reset{
    position: absolute;
    left:495px+ $ButtonWidth + $ButtonSpacing ;
    top:$rowSpacing * 14 + 32px + $ButtonSpacing;
    width: $ButtonWidth;
}

#delete{
    position: absolute;
    left:495px+ $ButtonWidth + $ButtonSpacing ;
    top:$rowSpacing * 14;
    width: $ButtonWidth;
}

#toast_pop_up {
    left:495px;
    width: $ButtonWidth*2+$ButtonSpacing*1;
    position: absolute;
    background-color: gray;
    top: $rowSpacing*14 - 32px - $ButtonSpacing;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
    margin-left: 4px;
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
    margin-left: 4px;
}