
.mlbutton {
    background-color:#5DB034;
    /* blue */
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
}

.widePanel {
    width: 90%;
    margin: auto;
    padding: 12px;
    border:none;
    margin-top: 5px;
    position:relative;
    background-color: #f3f3f3;
    color:black;
}

label {
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
  }

  body {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;  
  }



