
$margin1: 30px;
$margin2: 100px;
$tabelHeight: 34.653px;
$labelWidth: 130px;
$rowSpacing: 28px;
$textBoxWidthSmall: 360px;
$textBoxWidthLarge: 555px;
$buttonHeight: 31.528px;
$ButtonWidth: 100px;
$ButtonSpacing: 10px;

$textBoxColumn1Left: $margin1+$labelWidth;
$labelColumn2Left: $margin1+$textBoxWidthLarge+$margin1;
$textBoxColumn2Left: $margin1+$labelWidth+$textBoxWidthLarge+2*$margin1+$labelWidth;

@mixin textBoxStyle {
    height: 19.2px;
    border-width: 0.3px;
    border-style: solid;
    border-radius: 0.5px;
    border-color: grey;
    padding-left: 3px;
}

#update_button{
    position: absolute;
    left:420px;
    top: $margin1;
    width: $ButtonWidth;
}

#new_button{
    position: absolute;
    left:420px+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
}

#delete_button{
    position: absolute;
    left:420px+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
}

#add_button{
    position: absolute;
    left:355px+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
    visibility: hidden;
}

#cancel_button{
    position: absolute;
    left:355px+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
    visibility: hidden;
}

#toast_pop_up {
    left: 420px;
    width: $ButtonWidth+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    position: absolute;
    background-color: gray;
    top: $margin1;
}

#supplier_last_name_label{
    position: absolute;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1;
    width: $textBoxWidthLarge;
}

// #supplier_last_name{
//     position: absolute;
//     left: $textBoxColumn1Left;
//     top:$rowSpacing * 1;
//     width: $textBoxWidth;
//     @include textBoxStyle();
// }

#supplier_name_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1;
    width: $textBoxWidthLarge;
}

// #supplier_name{
//     position: absolute;
//     left: $textBoxColumn2Left;
//     top:$rowSpacing * 1;
//     width: $textBoxWidth;
//     @include textBoxStyle();
// }

#supplier_email_label{
    position: absolute;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

// #supplier_email{
//     position: absolute;
//     left: $textBoxColumn1Left;
//     top:$rowSpacing * 2;
//     width: $textBoxWidth;
//     @include textBoxStyle();
// }

#supplier_phone_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

// #supplier_phone{
//     position: absolute;
//     left: $textBoxColumn2Left;
//     top:$rowSpacing * 2;
//     width: $textBoxWidth;
//     @include textBoxStyle();
// }

#supplier_company_label{
    position: absolute;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

// #supplier_company{
//     position: absolute;
//     left: $textBoxColumn1Left;
//     top:$rowSpacing * 3;
//     width: $textBoxWidth;
//     @include textBoxStyle();
// }

#supplier_comment_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

// #supplier_comment{
//     position: absolute;
//     left: $textBoxColumn2Left;
//     top:$rowSpacing * 3;
//     width: $textBoxWidth;
//     @include textBoxStyle();
// }