html, body {
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#wide_panel {
  top: 0;
}

#text_title {
  float: left;
  width: 100%;
  padding: 6.2px 12px;
  background-color: #41BAA9;
  border: 1px solid #01A38C;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 550;
  cursor: auto;
}

#users_table {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 40vh;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
}

.button_panel {
  margin-top: 20px;
  height: 32px;
}

.button_panel #file_input {
  position: absolute;
  margin-top: 2px;
  width: 360px;
  padding: 2.2px 3px 2.9px 3px;
  font-size: 12px;
}

.button_panel .upload_button {
  position: absolute;
  left: 260px;
  width: 100px;
}

.button_panel #update_button {
  position: absolute;
  left: 420px;
  width: 100px;
}

.button_panel #new_button {
  position: absolute;
  left: 550px;
  width: 100px;
}

.button_panel #delete_button {
  position: absolute;
  left: 680px;
  width: 100px;
}

.button_panel #export_button {
  position: absolute;
  left: 1100px;
  width: 100px;
}

.button_panel #add_button {
  position: absolute;
  left: 485px;
  width: 100px;
  display: none;
}

.button_panel #cancel_button {
  position: absolute;
  left: 615px;
  width: 100px;
  display: none;
}

.input_panel {
  position: relative;
  margin-top: 25px;
}

.input_panel text {
  width: 100%;
}

#user_last_name_label {
  float: left;
  width: 35%;
}

#user_name_label {
  float: left;
  margin-left: 2%;
  width: 35%;
}

#user_sex_label {
  float: left;
  margin-left: 2%;
  width: 26%;
}

#user_title_label {
  margin-top: 2%;
  float: left;
  width: 32%;
}

#user_category_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  width: 32%;
}

#user_function_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  width: 32%;
}

#user_email_label {
  margin-top: 2%;
  float: left;
  width: 49%;
}

#user_home_address_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  width: 49%;
}

#user_telephone_label {
  margin-top: 2%;
  float: left;
  width: 49%;
}

#user_private_phone_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  width: 49%;
}

#user_in_date_label {
  margin-top: 2%;
  float: left;
  width: 30%;
  height: 35px;
}

#user_out_date_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  width: 30%;
  height: 35px;
}

#user_is_pi_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_is_phd_label {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  height: 35px;
}

#picture_button {
  margin-top: 2%;
  float: left;
  margin-left: 2%;
  width: 147px;
  height: 35px;
}

#user_is_financial_team_label {
  float: left;
  height: 35px;
}

#user_is_admin_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_is_lender_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_is_lender_admin_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_is_owner_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_date_when_allowed_label {
  float: left;
  height: 35px;
  width: 30%;
}

#user_completed_profile_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_is_allowed_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

#user_set_pw_label {
  float: left;
  margin-left: 2%;
  height: 35px;
}

.sub_head {
  margin-top: 1%;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  color: #01A38C;
  font-weight: 500;
}
/*# sourceMappingURL=users_form.css.map */