#user_last_name_label {
  position: absolute;
  left: 20px;
  top: 28px;
  width: 130px;
}

#user_last_name {
  position: absolute;
  left: 150px;
  top: 28px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_name_label {
  position: absolute;
  left: 620px;
  top: 28px;
  width: 130px;
}

#user_name {
  position: absolute;
  left: 750px;
  top: 28px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_sex_label {
  position: absolute;
  left: 20px;
  top: 56px;
  width: 130px;
}

#user_sex {
  position: absolute;
  left: 150px;
  top: 56px;
  width: 131.42857px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
  padding-left: 0px;
}

#user_is_pi_label {
  position: absolute;
  left: 420px;
  top: 56px;
  width: 130px;
}

#user_is_pi {
  position: absolute;
  left: 550px;
  top: 56px;
  height: 15px;
  width: 15px;
}

#user_is_phd_label {
  position: absolute;
  left: 820px;
  top: 56px;
  width: 130px;
}

#user_is_phd {
  position: absolute;
  left: 950px;
  top: 56px;
  height: 15px;
  width: 15px;
}

#user_title_label {
  position: absolute;
  left: 20px;
  top: 84px;
  width: 130px;
}

#user_title {
  position: absolute;
  left: 150px;
  top: 84px;
  width: 230px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_category_label {
  position: absolute;
  left: 420px;
  top: 84px;
  width: 130px;
}

#user_category {
  position: absolute;
  left: 550px;
  top: 84px;
  width: 230px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_function_label {
  position: absolute;
  left: 820px;
  top: 84px;
  width: 130px;
}

#user_function {
  position: absolute;
  left: 950px;
  top: 84px;
  width: 230px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_email_label {
  position: absolute;
  left: 20px;
  top: 112px;
  width: 130px;
}

#user_email {
  position: absolute;
  left: 150px;
  top: 112px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_home_address_label {
  position: absolute;
  left: 620px;
  top: 112px;
  width: 130px;
}

#user_home_address {
  position: absolute;
  left: 750px;
  top: 112px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_telephone_label {
  position: absolute;
  left: 20px;
  top: 140px;
  width: 130px;
}

#user_telephone {
  position: absolute;
  left: 150px;
  top: 140px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_private_phone_label {
  position: absolute;
  left: 620px;
  top: 140px;
  width: 130px;
}

#user_private_phone {
  position: absolute;
  left: 750px;
  top: 140px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_in_date_label {
  position: absolute;
  left: 20px;
  top: 168px;
  width: 130px;
}

#user_in_date {
  position: absolute;
  left: 150px;
  top: 168px;
  width: 131.42857px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_out_date_label {
  position: absolute;
  left: 620px;
  top: 168px;
  width: 130px;
}

#user_out_date {
  position: absolute;
  left: 750px;
  top: 168px;
  width: 131.42857px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_pw_hash_label {
  position: absolute;
  left: 20px;
  top: 210px;
  width: 130px;
}

#user_pw_hash {
  position: absolute;
  left: 150px;
  top: 210px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#user_alternative_ID_label {
  position: absolute;
  left: 620px;
  top: 210px;
  width: 130px;
}

#user_alternative_ID {
  position: absolute;
  left: 750px;
  top: 210px;
  width: 430px;
  height: 19.2px;
  border-width: 0.3px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: grey;
  padding-left: 3px;
}

#update {
  position: absolute;
  left: 495px;
  top: 392px;
  width: 100px;
}

#new {
  position: absolute;
  left: 495px;
  top: 434px;
  width: 100px;
}

#reset {
  position: absolute;
  left: 605px;
  top: 434px;
  width: 100px;
}

#delete {
  position: absolute;
  left: 605px;
  top: 392px;
  width: 100px;
}

#toast_pop_up {
  left: 495px;
  width: 210px;
  position: absolute;
  background-color: gray;
  top: 332px;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
  margin-left: 4px;
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
  margin-left: 4px;
}
/*# sourceMappingURL=users_form.css.map */