
$margin1: 30px;
$margin2: 100px;
$tabelHeight: 34.653px;
$labelWidth: 130px;
$rowSpacing: 28px;
$textBoxWidthSmall: 360px;
$textBoxWidthLarge: 555px;
$buttonHeight: 31.528px;
$ButtonWidth: 100px;
$ButtonSpacing: 10px;

$textBoxColumn1Left: $margin1+$labelWidth;
$labelColumn2Left: $margin1+$textBoxWidthLarge+$margin1;
$textBoxColumn2Left: $margin1+$labelWidth+$textBoxWidthLarge+2*$margin1+$labelWidth;

#file_input {
    position: absolute;
    top: $margin1+2px;
    left: $margin1;
    width: 360px;
    padding: 2.2px 3px 2.9px 3px;
    font-size: 12px;
}

.upload_button { 
    position: absolute;
    top: $margin1;
    left:$margin1+260px;
    width: $ButtonWidth;
}

#update_button{
    position: absolute;
    left:420px;
    top: $margin1;
    width: $ButtonWidth;
}

#new_button{
    position: absolute;
    left:420px+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
}

#delete_button{
    position: absolute;
    left:420px+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
}

#add_button{
    position: absolute;
    left:355px+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
    visibility: hidden;
}

#cancel_button{
    position: absolute;
    left:355px+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    top: $margin1;
    width: $ButtonWidth;
    visibility: hidden;
}

#export_button{
    position: absolute;
    left:1200px - $ButtonWidth - $margin1;
    top: $margin1;
    width: $ButtonWidth;
}

#toast_pop_up {
    left: 420px;
    width: $ButtonWidth+$margin1+$ButtonWidth+$margin1+$ButtonWidth;
    position: absolute;
    background-color: gray;
    top: $margin1;
}

#user_last_name_label{
    position: absolute;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1;
    width: $textBoxWidthLarge;
}

#user_name_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1;
    width: $textBoxWidthLarge;
}

#user_sex_label{
    position: absolute;
    left: $margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+ $margin1 * 0.5;
    width: 260px;
}

#user_is_pi_label{
    position: absolute;
    left: $margin1+260px+$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+ $margin1 * 0.5;
}

#user_is_phd_label{
    position: absolute;
    left: $margin1+260px+$margin1+117.5px+$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+ $margin1 * 0.5;
}

#user_alternative_ID_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+ $margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#user_title_label{
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthSmall;
}

#user_category_label{
    position: absolute;
    left:$margin1+$textBoxWidthSmall+$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthSmall;
}

#user_function_label{
    position: absolute;
    left: $margin1+$textBoxWidthSmall+$margin1+$textBoxWidthSmall+$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthSmall;
}

#user_email_label{
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#user_home_address_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#user_telephone_label{
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#user_private_phone_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#user_in_date_label{
    position: absolute;
    left:$margin1;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#user_out_date_label{
    position: absolute;
    left: $labelColumn2Left;
    top: $margin1+$buttonHeight+$margin1+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5+$tabelHeight+$margin1 * 0.5;
    width: $textBoxWidthLarge;
}

#users_gallery {
    position: absolute;
    width: 1200px - $margin1*2;
    left: $margin1;
    top: $buttonHeight+$tabelHeight*6+$margin1*5.5;
    padding-bottom: $margin1;
    overflow: hidden;
    border-radius: 3px;
    margin: auto;
}

// GALLERY AT BOTTEM OF PAGE -----------------------------------------------------------------------

.gallery_row {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.img-w {
    width: 180px;
    height: 180px;
    float: left;
    position: relative;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 180px;
        height: 180px;
        position: absolute;

        opacity: 0.8; 
        cursor: pointer; 
    }
    img:hover {
        opacity: 1; 
    }
}

// -----------------------------------------------------------------------------

// MODAL -----------------------------------------------------------------------

.row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    float: left;
    width: 25%;
}
  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0f0f0f;
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
  
  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  
    img {
        margin-bottom: -4px;
        max-height: 700px;
        width: auto;
    }
}
  
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
  
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// -----------------------------------------------------------------------------